body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Instrument Serif', serif;
    ;
}

/*INICIO*/
/*NAVEGACIÓN*/

.lista-de-navegacion {
    display: flex;
    justify-content: end;
}


li {
    list-style: none;
    padding: 8px;
    margin: 8px;
}

.hola {
    background-color: #219bc3;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;

}

.conocimientos {
    background-color: #b2d3e1;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px
}

.proyectos {
    background-color: #f2cfda;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px
}

.contacto {
    background-color: #c66aab;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
}

.hola:hover {
    background-color: white;
    border: 2px solid #219bc3;
    border-radius: 10px;
    transition-property: background-color, border, border-radius;
    transition-duration: 0.2s;
}

.conocimientos:hover {
    background-color: white;
    border: 2px solid #b2d3e1;
    border-radius: 10px;
    transition-property: background-color, border, border-radius;
    transition-duration: 0.2s;
}

.proyectos:hover {
    background-color: white;
    border: 2px solid #f2cfda;
    border-radius: 10px;
    transition-property: background-color, border, border-radius;
    transition-duration: 0.2s;
}

.contacto:hover {
    background-color: white;
    border: 2px solid #c66aab;
    border-radius: 10px;
    transition-property: background-color, border, border-radius;
    transition-duration: 0.2s;
}


a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

/*SECCIÓN DE PRESENTACIÓN*/

.portada {
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.mi-nombre {
    color: #c66aab;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;

}

.descripcion {
    font-size: 25px;
}

.un-poco-de-mi {
    font-size: 25px;
    background-color: #b2d3e1;
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    font-family: 'Instrument Serif', serif;
    font-family: 'Shadows Into Light', cursive;

}

.un-poco-de-mi:hover {
    background-color: white;
    border: 2px solid #b2d3e1;

}




@media (max-width:700px) {
    .foto-portada {
        width: 600px;
        height: 400px;
    }
}

@media (max-width:605px) {
    .foto-portada {
        width: 500px;
        height: 400px;
    }
}


@media (max-width:503px) {
    .foto-portada {
        width: 400px;
        height: 300px;
    }
}

@media (max-width:400px) {
    .foto-portada {
        width: 250px;
        height: 180px;
    }
}

@media (max-width:670px) {
    .lista-de-navegacion {
        visibility: hidden;
    }
}

@media (max-width:440px) {
    .portada {
        text-align: center;
    }
}




/*SECCIÓN DE HABILIDADES*/

.titulo-conocimientos {
    text-align: center;
    font-size: 45px;
    font-family: 'Instrument Serif', serif;
    font-family: 'Shadows Into Light', cursive;
}

.subtitulo-conocimiento {
    text-align: center;
}


.contenedor-conocimiento {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

.iconos-conocimientos {
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}

.iconos-conocimientos:hover {
    border: 1px solid #b2d3e1;
    box-shadow: none;
    transition-property: border, box-shadow;
    transition-duration: 0.3s;


}

.fa-chalkboard-user {
    color: #219bc3;
    font-size: 90px;
    padding: 18px;
    margin: 25px;

}

.fa-notes-medical {
    color: #c66aab;
    font-size: 90px;
    padding: 18px;
    margin: 25px;
}

.fa-person {
    color: #68417f;
    font-size: 90px;
    padding: 18px;
    margin: 25px;
}

.fa-html5 {
    color: #219bc3;
    font-size: 90px;
    padding: 18px;
    margin: 25px;
}

.fa-css3-alt {
    color: #c66aab;
    font-size: 90px;
    padding: 18px;
    margin: 25px;
}

.fa-git {
    color: #68417f;
    font-size: 90px;
    padding: 18px;
    margin: 25px;
}


/*SECCIÓN CITA*/

.cita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #219bc3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

}

.fa-info {
    color: white;
    font-size: 90px;

}

.texto-de-cita {
    text-align: center;
    padding: 60px 100px;
    font-size: 25px;
    color: white;

}

.encabezado-cita {
    font-size: 45px;
    color: white;
    font-family: 'Instrument Serif', serif;
    font-family: 'Shadows Into Light', cursive;


}

@media (max-width: 340px) {
    .texto-de-cita {
        padding: 60px 50px;
        font-size: 20px;
    }
}

@media (max-width:280px) {
    .texto-de-cita {
        padding: 30px 10px;
    }
}

/*SECCIÓN PROYECTOS*/

.img-proyectos {
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.titulo-proyectos {
    text-align: center;
    font-size: 45px;
    font-family: 'Instrument Serif', serif;
    font-family: 'Shadows Into Light', cursive;
}

.subtitulo-proyectos {
    text-align: center;
}


.contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

.img-proyectos:hover {
    border: 1px solid #f2cfda;
    box-shadow: none;
    transition-property: border, box-shadow;
    transition-duration: 0.3s;

}

/*SECCIÓN CONTACTO-DATOS DE CONTACTO*/

.contenedor-contacto {
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    padding: 60px;

}

.seccion-contacto {
    border: 1px solid#219bc3;
    border-radius: 15px;
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center
}


.icon-redes {
    font-size: 25px;
    padding: 5px;
    color: #c66aab;



}

.icon-redes:hover {
    background-color: #c66aab;
    border-radius: 20px;
    color: white;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}


.titulo-contacto {
    text-align: center;
    font-size: 40px;
    font-family: 'Instrument Serif', serif;
    font-family: 'Shadows Into Light', cursive;
    margin: 0;
}

.parrafo-contacto {
    padding: 20px;
    margin: 0px;
}

.redes-de-contacto {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;


}

.lista-contacto {
    text-align: left;
    margin: 0px;
}


@media (max-width: 1030px) {
    .seccion-contacto {
        width: 700px;
        flex-wrap: wrap;
    }

    .lista-contacto {
        text-align: center;
    }

    .parrafo-contacto {
        width: 300px;
    }
}

.datos-de-contacto {
    font-family: 'Instrument Serif', serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    padding-left: 10px;
    color: black;

}

.datos-de-contacto:hover {
    color: #f2cfda;

}

/*SECCIÓN CONTACTO-FORMULARIO*/

.formulario {
    font-family: 'Instrument Serif', serif;
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

form {
    padding: 10px;
    margin: 10px;

}

#nombre {
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    background-color: #f6f7fb;

}

#apellido {
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    background-color: #f6f7fb;
}

#email {
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    background-color: #f6f7fb;
}

#mensaje {
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    background-color: #f6f7fb;
}

#enviar {
    background-color: #f2cfda;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;

}


@media (max-width: 720px) {
    .seccion-contacto {
        width: 500px;
    }
}

@media (max-width: 530px) {
    .seccion-contacto {
        width: 400px;
    }
}

@media (max-width: 415px) {
    .seccion-contacto {
        width: 300px;
        border: none;
        box-shadow: none;
    }

    .contenedor-contacto {
        background-color: white;
    }

    .redes-de-contacto {
        width: 350px;
        padding: 0px;
    }
}

@media (max-width: 300px) {

    .lista-contacto {
        width: 250px;
        padding: 0px;
    }
}

@media (max-width: 315px) {
    .lista-contacto {
        width: 150px;
        padding: 0px;
    }
}

@media (max-width: 280px) {
    .parrafo-contacto {
        width: 180px;

    }

    .titulo-contacto {
        font-size: 30px;
    }

}

#enviar:hover {
    background-color: #c66aab;
    color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

/*FOOTER*/

.lista-footer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center ;
    font-size: 15px;
}
 .ultima-frase {
    text-align: center;
    font-size: 15px;
 }

 .contenedor-footer {
    height: 300px;
    background-color: #92ddea;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 50px;
    font-family: 'Instrument Serif', serif;
    font-family: 'Nunito Sans', sans-serif;
 }

