body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Instrument Serif', serif;
    ;
}

/*INICIO*/
/*NAVEGACIÓN*/

ul {
    display: flex;
    justify-content: end;
}

li {
    list-style: none;
    padding: 8px;
    margin: 8px;
}

.hola {
    background-color: #219bc3;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
}

.conocimientos {
    background-color: #b2d3e1;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px
}

.proyectos {
    background-color: #f2cfda;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px
}

.contacto {
    background-color: #c66aab;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px
}

/*SECCIÓN DE PRESENTACIÓN*/

.portada {
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 30px;
    align-items: center;
    flex-wrap: wrap;

}

.mi-nombre {
    color: #c66aab;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;

}

.descripcion {
    font-size: 25px;
}

.lo-que-hago {
    font-size: 25px;
    background-color: #f2cfda;
    border: 5px solid white;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
}

@media (max-width:950px) {img {width: 300px;}}

@media (max-width:740px) {img {width: 250px;}}

@media (max-width:670px) {ul {visibility: hidden;}}




/*SECCIÓN DE HABILIDADES*/